 .birinciliste li:nth-child(2n) {
    background: lime;
} 
.ikinciliste li:nth-child(2){
    background: red;
}

.ucunculiste li:nth-child(n+3) {
    background: purple;
}
.dordunculiste li:nth-child(-n+3){
    background: blue;
}
.besinciliste li:nth-child(2n+4){
    background: chocolate;
}

.altinciliste li:nth-child(n+5):nth-child(-n+9){
    background: aqua;
}
.yedinciliste li:nth-child(odd){
    background: brown;
}
.sekizinciliste li:nth-child(even){
    background: cornflowerblue;
}